// Google Font Franklin, Weight 300,600 & 700.
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap')

/*  ========================== VARIABLES  ==========================  */
// Primary Colors
$primary-blue: hsl(223, 87%, 63%)
//Secondary Colors
$secondary-pale-blue: hsl(223, 100%, 88%)
$alert-light-red: hsl(354, 100%, 66%)
//Neutral colors
$neutral-gray: hsl(0, 0%, 59%)
$neutral-white: hsl(0, 0%, 100%)
$neutral-very-dark-blue: hsl(209, 33%, 12%)
$neutral-very-soft-blue: hsl(223, 60%, 83%)
//Typography
$Font-Franklin: 'Libre Franklin', sans-serif

/* ========================== Mixins ========================== */

@mixin flex-behavior-column
  display: flex
  flex-direction: column
  align-items: center

@mixin btn
  height: 56px
  width: 200px
  border: 0
  border-radius: 35px

/*  ========================== DESIGN  ==========================  */
body
  font-family: $Font-Franklin
  width: 50%
  margin: 0 auto

.logo
  @include flex-behavior-column
  padding-top: 50px

.information
  @include flex-behavior-column

.information h1
  font-weight: 300
  color: $neutral-gray
  font-size: 35px

.soon-txt
  font-weight: 700
  color: $neutral-very-dark-blue

.information p
  margin: -5px
  padding-bottom: 30px

// Button Style

.form-notify
  padding-top: 30px

.btn-notify
  @include btn
  color: $neutral-white
  background: $primary-blue
  cursor: pointer

// Input Style
.input-box
  //Layout
  width: 421px
  height: 56px
  border-radius: 28px
  border: 1px solid #C2D3FF
  background: $neutral-white
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.00)
  flex-shrink: 0
  margin-right: 16px

  //Txt
  padding-left: 10px
  font-size: 15px
  font-weight: 300
  line-height: 20px
  color: $neutral-very-soft-blue

// Img Hero
.hero-img
  @include flex-behavior-column
  padding-top: 60px

.hero-img img
  height: 20rem
  width: auto

// Social Media.

.social-media
  @include flex-behavior-column

.social-media ul
  display: flex
  flex-direction: row
  align-items: center

.social-media li
  list-style: none
  margin: 10px


ion-icon
  color: $primary-blue
  padding: 5px
  font-size: 15px
  cursor: pointer
  border: 1px solid $neutral-very-soft-blue
  border-radius: 50%

// Attribution

.attribution
  display: flex
  flex-direction: row
  align-items: center
  padding-left: 30%
  padding-bottom: 20px
  font-size: 12px

.attribution a
  font-family: $Font-Franklin
  color: $neutral-very-dark-blue
  font-size: 12px
  padding: 5px